<section id="about" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-md-3">
                <h2 class="section-heading text-center">What is ProductCamp?</h2>
                <hr class="dark">
                <p class="text-dark">ProductCamp is a free, user-driven, collaborative "unconference" for Product Managers and anyone involved in building products. The concept was founded in Silicon Valley in 2008 by Rich Moronov. ProductCamp has since been brought to major cities across the world by local product communities.</p>
                <p class="text-dark">Being a Product Manager is hard and it's not typically easy to get the coaching or training needed for the job. The “unconference” format will give you the opportunity to learn, share and network with peers in a way that is completely unique and collaborative. It's the ultimate "safe space" to try out something new, discuss ideas and grow and develop as a Product Manager.</p>
                <p class="text-dark"><strong>On the day you can expect;</strong></p>
                <ul class="text-left">
                    <li class="text-left">A warm welcome from the organisers and the chance to meet the other attendees (tea, coffee and chit chat)</li>
                    <li class="text-left">A collaborative task, involving all participants, to develop the agenda for the day (post-its and sharpies)</li>
                    <li class="text-left">A series of talks, panels, discussions, debates, workshops brought to you by the attendees (some will be polished, others will be winging it - what about you?)</li>
                    <li class="text-left">To have fun, learn, make mistakes, relax and enjoy the day (safe space!)</li>
                </ul>
                <img class="img-fluid rounded mx-auto d-block my-4" alt="Responsive image" style="max-width: 300px" src="../img/logo.jpg">
                <p class="text-dark">Lunch will be provided with vegetarian options, please let us know about any other dietary requirements and we'll do our best to accommodate them.</p>
                <p class="text-dark">ProductCamp Bristol & Bath is brought to you by the <a href="#organisers" class="page-scroll">team</a> who organise <a href="https://www.meetup.com/ProductTank-Bristol/" target="_blank">ProductTank Bristol.</a> We are passionate about providing growth and development support for product management teams, so that we can all build better products faster.</p>
            </div>
           <!-- <div class=" col-md-2 my-auto">
                <img class="img-fluid" alt="Responsive image" src="../img/logo.jpg">
            </div>-->
        </div>

        </div>
</section>
