<section class="bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-7 text-center">
                <h2 class="section-heading">Sign Up</h2>
                <hr class="dark">
                <p class="text-dark">ProductCamp is a free, user-driven, collaborative "unconference" for Product Managers.</p>
                <p class="text-dark">The Productcamp event in the Southwest of England, helping to cement Bath and Bristol reputation as one of the most exciting tech hubs outside of London.</p>
            </div>
            <div class="col-5 my-auto">
                <img class="img-fluid" alt="Responsive image" src="../img/image1.png">
            </div>
        </div>

        </div>
</section>

