<section id="diversity" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-md-3">
                <h2 class="text-center">Proud to be diverse</h2>
                <hr class="dark">
                <p class="text-light">ProductCamp Bristol & Bath supports and encourages all people to attend and learn about product management. We are pleased that we are already a gender diverse group (check out <a href="https://www.meetup.com/ProductTank-Bristol/" traget="_blank">ProductTankBristol</a>).</p>
                <p>In terms of neuro-diversity, we will provide a quiet "non-networking" space for anyone who needs five minutes to themselves - in particular people who struggle with networking, anxiety and sensory issues. </p>
                <p class="text-light">There is disabled access to all of the rooms. If you feel that we can do something to support you please let us know. </p>
            </div>
           <!-- <div class=" col-md-2 my-auto">
                <img class="img-fluid" alt="Responsive image" src="../img/logo.jpg">
            </div>-->
        </div>

        </div>
</section>
