<header>
    <div class="container">
        <div class="row">
            <div class="hero">
                <h1>Product Camp Bristol & Bath</h1>
                <hr>
                <p class="animated fadeInUp">March 16th 2019 - Apex Hotel, Bath, UK</p>
                <a href="https://www.eventbrite.com/e/productcamp-bristol-bath-tickets-55475296104" target="_blank" class="btn btn-primary btn-xl animated fadeInUp delay-1s page-scroll">Register Now</a>
            </div>
        </div>
        </div>
    </div>
</header>
