<header>
    <div class="container">
        <div class="row">
            <div class="hero">
                <h1>ProductCamp Southwest UK</h1>              
                <h2>Saturday 22 March 2025, Bristol</h2>
                <a href="https://www.eventbrite.co.uk/e/product-camp-south-west-uk-tickets-1114462540459/" target="_blank" class="btn btn-primary btn-xl animated fadeInUp delay-1s page-scroll">Get your free ticket</a>                 
            </div>
        </div>
        </div>
    </div>
</header>
