<header>
    <div class="container">
        <div class="row">
            <div class="hero">
                <h1>ProductCamp Bristol & Bath</h1>
                <hr>
                <p class="animated fadeInUp">That's it for 2019.</p>
                <p class="animated fadeInUp">Thank you to all our sponsors, volunteers and attendees for making it amazing!</p>
                <a class="animated fadeInUp">For updates on next year follow us <a href="https://twitter.com/ProductTankBRI" target="_blank">@ProductTankBRI</a></p>
            </div>
        </div>
        </div>
    </div>
</header>
