<section id="how">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-list-ul fa-4x wow animated bounceInUp text-primary"></i>
                    <h3 class="mt-3">Submit Topics </h3>
                    <p class="text-muted">Anyone can submit topics around various themes to share experiences</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-poll fa-4x wow animated bounceInUp text-primary" data-wow-delay=".1s"></i>
                    <h3 class="mt-3">Decided the topics</h3>
                    <p class="text-muted">Vote for the talks you want to hear from your peers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-comments fa-4x wow animated bounceInUp text-primary" data-wow-delay=".2s"></i>
                    <h3 class="mt-3">Attend Sessions </h3>
                    <p class="text-muted">Go to the talks that interest you—or find another session!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-users fa-4x wow animated bounceInUp text-primary" data-wow-delay=".3s"></i>
                    <h3 class="mt-3">Engage With Peers</h3>
                    <p class="text-muted">Trade notes, find a mentor, or discover your next opportunity</p>
                </div>
            </div>
        </div>
    </div>
</section>
