<section id="sponsors" class="sponsors bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 text-center">
                <h2 class="section-heading">2020 Sponsorship</h2>
                <p class="py-2">ProductCamp sponsorship enables this event to come to the Southwest, helping to cement our reputation as one of the most exciting tech hubs outside of London. This event contributes to attracting and retaining talent in the area.</p>                
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-2 col-sm-6">
                <a href="https://www.ovoenergy.com/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/ovo1.png" target=_blank class="img-fluid" alt="Responsive image">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Sponsor
                            </div>-->
                            <div class="project-name">
                                OVO Energy
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="https://www.adlib-recruitment.co.uk/" target=_blank class="portfolio-box">
                    <img src="img/portfolio/adlib.png" class="img-fluid" alt="Responsive image">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Sponsor
                            </div>-->
                            <div class="project-name">
                                ADLIB recruitment
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="https://www.equalexperts.com/" target=_blank class="portfolio-box">
                    <img src="img/portfolio/ee.png" class="img-fluid" alt="Responsive image">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Sponsor
                            </div>-->
                            <div class="project-name">
                                Equal Experts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="https://www.gocompare.com/" target=_blank class="portfolio-box">
                    <img src="img/portfolio/go.png" class="img-fluid" alt="Responsive image">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Sponsor
                            </div>-->
                            <div class="project-name">
                                Go Compare
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-4 text-center">                                                
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-2 col-sm-6">
                <a href="https://cookpad.com/uk" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/cookpad.png" target=_blank class="img-fluid" alt="Responsive image">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Sponsor
                            </div>-->
                            <div class="project-name">
                                Cookpad HQ
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="https://www.webgains.com/public/en/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/webgains.png" target=_blank class="img-fluid" alt="Responsive image">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Sponsor
                            </div>-->
                            <div class="project-name">
                                Webgains
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           
        </div>
    </div>
</section>
