<section id="unconference">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 text-center">
                <h2 class="section-heading">ProductCamp SouthWest UK 2020 format</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-list-ul fa-4x wow animated bounceInUp slow text-primary"></i>
                    <h3 class="mt-3">Create the agenda</h3>
                    <p class="text-muted">In the morning, everyone will collaboratively create the agenda for the day. Either come prepared with something you would like to share (talk, workshop, roundtable etc) or put something together on the day.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-comments fa-4x wow animated bounceInUp slow text-primary"></i>
                    <h3 class="mt-3">Attend the sessions </h3>
                    <p class="text-muted">You get to attend the sessions that interest you the most. If you want to move between sessions that's fine. And if you decide half way through the day that you want to run a session that's fine too.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-users fa-4x wow animated bounceInUp slow text-primary"></i>
                    <h3 class="mt-3">Time to network</h3>
                    <p class="text-muted">All through the day you will have a chance to meet and learn from other product people. And the organising team is always there for support should you need it.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="on-day" class="bg-light">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 text-center">
                <h2 class="section-heading">On the day you can expect</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">

        <div class="col-md-12 mb-md-3"></div>
            <ul class="text-left">
                <li class="text-left">A warm welcome from the organisers and the chance to meet the other attendees (tea, coffee and chit chat)</li>
                <li class="text-left">A collaborative task, involving all participants, to develop the agenda for the day (post-its and sharpies)</li>
                <li class="text-left">A series of talks, panels, discussions, debates, workshops brought to you by the attendees (some will be polished, others will be winging it - what about you?)</li>
                <li class="text-left">To have fun, learn, make mistakes, relax and enjoy the day (safe space!)</li>                 
            </ul>
            <p>Lunch will be provided with vegetarian options, please let us know about any other dietary requirements and we'll do our best to accommodate them.</p>
            <p>After ProductCamp we will be heading to a nearby pub for a few drinks and to continue the conversation. Please keep some time aside to join us and reflect on the day.</p>
        
        
</div>
</div>
</section>
