<section id="venue" class="venue">
    <div class="container">
        <div class="row">
            <div class="col-5 d-none d-md-block my-auto">
                <img class="img-fluid" alt="Responsive image" src="../img/apex.jpg">
            </div>
            <div class="col-md-7 mb-md-3 text-center">
                <h2 class="section-heading">Venue</h2>
                <hr class="dark">
                <h3>APEX City of Bath Hotel</h3>
                <i class="fas fa-map-marker-alt fa-2x wow animated slideInUp text-primary my-3"></i>
                <p class="text-dark"><a href="https://goo.gl/maps/CvNKxnoGg582" target="_blank">James Street West, Bath BA1 2DA</a></p>
                <p class="text-dark">Located in the heart of the city centre just a ten minute walk from Bath Spa train station, Apex Hotel provides us with a great modern conference space. Locally sourced, breakfast and refreshments will be provided throughout the day.</p>
        </div>
        </div>
</section>

