<section id="venue" class="venue">
    <div class="container">
        <div class="row">
            <div class="col-5 d-none d-md-block my-auto">
                <img class="img-fluid" alt="Responsive image" src="../img/ApexExternal2.jpg">
            </div>
            <div class="col-md-7 mb-md-3 text-center">
                <h2 class="section-heading">Venue</h2>
                <hr class="dark">
                <h3>APEX City of Bath Hotel</h3>
                <i class="fas fa-map-marker-alt fa-2x wow animated slideInUp fast text-primary my-3"></i>
                <p class="text-dark"><a href="https://goo.gl/maps/CvNKxnoGg582" target="_blank">James Street West, Bath BA1 2DA</a></p>
                <p class="text-dark">Apex Hotel is a 12 minute walk from Bath Spa train and bus stations. For more information, please check the <a href="https://www.apexhotels.co.uk/apex-city-of-bath-hotel" target="_blank">hotel website.</a></p>
        </div>
        </div>
    </div>
</section>

