<section id="venue" class="venue">
    <div class="container">
        <div class="row">
            <div class="col-5 d-none d-md-block my-auto">
                <img class="img-fluid" alt="Responsive image" src="../img/ovo1.jpg">
            </div>
            <div class="col-md-7 mb-md-3 text-center">
                <h2 class="section-heading">Venue</h2>
                <hr class="dark">
                <h3>OVO Energy, Bristol</h3>
                <i class="fas fa-map-marker-alt fa-2x wow animated slideInUp fast text-primary my-3"></i>
                <p class="text-dark"><a href="https://goo.gl/maps/ayCPw3FeKAxZRrus7" target="_blank">1 Rivergate, Temple Quay, Bristol BS1 6ED</a></p>
                <p class="text-dark">Ovo Enegery is located next to Temple Meads train station (about a 5 minute walk).</p>
        </div>
        </div>
    </div>
</section>

